{{ ansible_managed | comment }}

server {
    listen 80;

    server_name         {{ public_hostname }};

    access_log {{ logs_base_path }}/access_{{ project_slug }}.log;
    error_log {{ logs_base_path }}/access_{{ project_slug }}.log;

    # http://stackoverflow.com/questions/15238506/djangos-suspiciousoperation-invalid-http-host-header
    # Deny illegal Host headers
    if ($host !~* ^({{ public_hostname }})$ ) {
        return 444;
    }

    location / {
        # add_header Access-Control-Allow-Origin http://localhost/ https://www.oxfamfrance.org/;
        add_header Access-Control-Allow-Origin $http_origin;
        root {{ static_path }};
    }
}
