[program:{{ project_slug }}-backend]
directory = {{ backend_path }} ;
command = {{ venv.path }}/bin/gunicorn main:app --timeout {{ backend_timeout }} --workers=1 --bind=localhost:{{ backend_application_port }} --user="{{ main_user }}" --limit-request-line 8190
user = {{ main_user }} ; User to run as
stdout_logfile = {{ var_log_path }}/gunicorn_supervisor.log        ; Where to write log messages
redirect_stderr = true                                                ; Save stderr in the same log
environment=LANG="en_US.UTF-8",LC_ALL="en_US.UTF-8",PYTHONIOENCODING="utf8"
